{% load static %}
{% include "./header.html" %}

	<div class="banner-multi">

	</div>
	<div class="about-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="/">Menu</a><i>|</i></li>
				<li>Acerca de nosotros</li>
			</ul>
		</div>
	</div>

	<div class="inner_main_agile_section">
		<div class="container">
			<div class="w3-headings-all">
				<h3>Acerca de nosotros</h3>
			</div>
			<div class="agile_inner_grids">

				<div class="col-md-6 w3_agileits_about_grid_left">
					<p>Mecanica McQueen es una mecanica fundada en 2017 apartir de un sueño que tuvo el dueño Samuel de Luque Batuecas<span>El nombre de nuestra mecanica era Mecanica Buzz Lightyear y en ese momento no estaba implementado el vender objetos para vehiculo</span> </p>
					<ul>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Respuesta rapidas</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Cliente felices</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Calidad de servicio</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Soluciones efectivas</li>
					</ul>
				</div>
				<div class="col-md-6 w3_agileits_about_grid_right">
					<div id="chart">
						<ul id="numbers">
							<li><span>100%</span></li>
							<li><span>90%</span></li>
							<li><span>80%</span></li>
							<li><span>70%</span></li>
							<li><span>60%</span></li>
							<li><span>50%</span></li>
							<li><span>40%</span></li>
							<li><span>30%</span></li>
							<li><span>20%</span></li>
							<li><span>10%</span></li>
							<li><span>0%</span></li>
						</ul>
						<ul id="bars">
							<li>
								<div data-percentage="43" class="bar"></div><span>2017</span>
							</li>
							<li>
								<div data-percentage="65" class="bar"></div><span>2018</span>
							</li>
							<li>
								<div data-percentage="72" class="bar"></div><span>2019</span>
							</li>
							<li>
								<div data-percentage="85" class="bar"></div><span>2020</span>
							</li>
							<li>
								<div data-percentage="90" class="bar"></div><span>2021</span>
							</li>
							<li>
								<div data-percentage="99" class="bar"></div><span>2022</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="team1" id="team1">
		<div class="container">
			<div class="w3-headings-all">
				<h3>Nuestro equipo</h3>
			</div>
			<div class="agileinfo-team-grids">
				<div class="col-md-3 wthree-team-grid">
					<img src="{% static 'core/images/w1.jpg' %}" alt="">
					<div class="wthree-team-grid-info">
						<h4>Marco Antonio Solis</h4>
						<p>Ingeniero en Prevención de Riesgos </p>
						<div class="team-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="{% static 'core/images/zeko.jpg' %}" alt="">
					<div class="wthree-team-grid-info">
						<h4>Federico Cristalino</h4>
						<p>Mecanico</p>
						<div class="team-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="{% static 'core/images/w3.jpg' %}" alt="">
					<div class="wthree-team-grid-info">
						<h4>Roman Watson</h4>
						<p>Mecanico</p>
						<div class="team-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="{% static 'core/images/w4.jpg' %}" alt="">
					<div class="wthree-team-grid-info">
						<h4>José Quispe </h4>
						<p>Mecanico Automotriz</p>
						<div class="team-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="testimonial testimonial_about agileits-w3layouts" id="testimonial">
		<div class="container">
			<div class="w3-headings-all">
				<h3>Testimonios</h3>
			</div>
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">

					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">
							<div class="view view-first">
								<p>Ha sido muy grato ser cliente de la mecanica McQueen, esa cercanía que nos han transmitido ha quedado reflejada en nuestra nueva web.
									 La verdad es que estamos muy contentas ya que muchos de nuestros clientes nos 
									han felicitado por ello. Nos han ayudado a mostrar nuestro trabajo de una manera fresca y diferente. </p>
								<h5>Ingeniero en sistemas</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first">
								<p>Hemos contado con los servicios de la mecanica McQueen para la reparacion de mi vehiculo.
									La verdad es que trabajar con ellos ha sido muy sencillo y nos han sorprendido muy gratamente. Creo que ha sido un acierto. Repetiré en futuros problemas.</p>
								<h5>Ingeniero en informatica </h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first">
								<p>Excelentes profesionales que cuidan al detalle sus tareas, en quien se puede confiar para llevar a buen puerto cualquier problema.</p>
								<h5>Gatronoma</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first">
								<p>La mecanica McQueen dedica todo su tiempo en satisfacer al cliente.
									Trabajan meticulosamente para cubrir tus expectativas y te acompañan durante todo el proceso.</p>
								<h5>Ingeniero civil</h5>
							</div>
						</div>
					</div>
					<ul class="resp-tabs-list">
						<li class="resp-tab-item"><img src="{% static 'core/images/t11.jpg' %}" alt="" /></li>
						<li class="resp-tab-item"><img src="{% static 'core/images/t33.jpg' %}" alt="" /></li>
						<li class="resp-tab-item"><img src="{% static 'core/images/t44.jpg' %}" alt="" /></li>
						<li class="resp-tab-item"><img src="{% static 'core/images/t55.jpg' %}" alt="" /></li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="w3-footer-contact">
		<div class="container">
			<div class="col-md-4 w3-footer-contact-left">
				<h3>Mejor mecanico del mes</h3>
				<p>El mejor mecanico del mes fue :  
					FEDERICO CRISTALINO su cargo era cambiar aceite, cambio de motor y pintado de Automoviles</p>
			</div>
			<div class="col-md-4 w3-footer-contact-middle">
				<img src="{% static 'core/images/v1.jpg' %}" alt="img">
			</div>
			<div class="col-md-4 w3-footer-contact-right">
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Ubicacion de la mecanica McQueen:</p>
					<h4>Antonio Varas #666, Providencia</h4>

				</div>
				<div class="clearfix"></div>
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Llamalo:</p>
					<h4>+569 6502 1782</h4>

				</div>
				<div class="clearfix"></div>
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Correo electronico:</p>
					<h4><a href="mailto:example@mail.com"> Federico@duocuc.cl</a></h4>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

			<div class="team gallery-ban" id="team">

				<ul id="flexiselDemo1">
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f1.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f2.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f3.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f51.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f5.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f6.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
				</ul>

			</div>
		</div>

	</div>

	</div>

	{% include "./footer.html" %}