{% load static %}
{% include "./header.html" %}
    <div class="w3-about-us">
		<div class="container">
			<div class="w3-headings-all">
				<h3>ADMINISTRADOR DE CONSULTAS</h3>
			
            </div>
        </div>
    </div>    




  <table class='table'>
    <tr>
	  <th>ID</th>
      <th>Nombre del contacto</th>
      <th>Email</th>
      <th>Mensaje</th>
    </tr>
	{% for c in contacto%}
    <tr>
	  <td>{{c.idContacto}}</td>
      <td>{{c.nombreContacto}}</td>
      <td>{{c.emailContacto}}</td>
      <td>{{c.mensajeContacto}}</td>
    </tr>
    {% endfor %}
  </table>



{% include "./footer.html" %}