{% load static %}
{% include "./header.html" %}

	<div class="banner-multi">

	</div>
	<div class="about-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="/">Menu</a><i>|</i></li>
				<li>Contactanos</li>
			</ul>
		</div>
	</div>

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Iniciar Sesion</h3>
						<div class="login-form">
							<form action="#" method="post">
								<input type="email" name="email" placeholder="E-mail" required="">
								<input type="password" name="password" placeholder="Password" required="">
								<div class="tp">
									<input type="submit" value="Sign In">
								</div>
							</form>
						</div>
						<div class="login-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<p><a href="#" data-toggle="modal" data-target="#myModal3"> No tienes cuenta?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact jarallax">
		<div class="container">
			<div class="w3-headings-all">
				<h3>Contactanos</h3>

			</div>
			<div class="contact-grids">
				<div class="col-md-5 address">
					<h4>Tienes alguna duda o queja?</h4>
					<p class="cnt-p">Contactanos por esta via y te respondemos a la brevedad </p>
					<div class="agileits-social1 top_content">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
					<div class="agileits-social-address">
						<p>Antonio Varas #666, Providencia</p>
						<p>Numero de telefono : +569 6502 1783</p>
						<p>Correo : <a href="MecanicaMcQueen@duocuc.cl">Ejemplo@.com</a></p>
					</div>

				</div>
				<div class="col-md-7 contact-form">
					<form action="/registarContacto/" method="POST">{% csrf_token %}
						<input type="text" id="txtNombre" name="Name" placeholder="Nombre" required="">
						<input class="email" id="txtEmail" type="email" name="Correo electronico" placeholder="Email" required="">
						<textarea placeholder="Message" id="txtMensaje" name="Mensaje" required=""></textarea>
						<input type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="map">
		<iframe
			src="https://maps.google.com/maps?q=antonio%20varas%20chile&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
	</div>

	<div class="w3-footer-contact">
		<div class="container">
			<div class="col-md-4 w3-footer-contact-left">
				<h3>Mejor mecanico del mes</h3>
				<p>El mejor mecanico del mes fue :  
					FEDERICO CRISTALINO su cargo era cambiar aceite, cambio de motor y pintado de Automoviles</p>
			</div>
			<div class="col-md-4 w3-footer-contact-middle">
				<img src="{% static 'core/images/v1.jpg' %}" alt="img">
			</div>
			<div class="col-md-4 w3-footer-contact-right">
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Ubicacion de la mecanica McQueen:</p>
					<h4>Antonio Varas #666, Providencia</h4>

				</div>
				<div class="clearfix"></div>
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Llamalo:</p>
					<h4>+569 6502 1782</h4>

				</div>
				<div class="clearfix"></div>
				<div class="col-md-2 w3-footer-contact-icon1">
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 w3-footer-contact-info">
					<p>Correo electronico:</p>
					<h4><a href="mailto:example@mail.com"> Federico@duocuc.cl</a></h4>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

			<div class="team gallery-ban" id="team">

				<ul id="flexiselDemo1">
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f1.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f2.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f3.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f51.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f5.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
					<li>
						<div class="wthree_testimonials_grid_main">

							<img src="{% static 'core/images/f6.png' %}" alt=" " class="img-responsive" />

						</div>
					</li>
				</ul>

			</div>
		</div>

	</div>

	{% include "./footer.html" %}